:root {
  --white-100: #ce1b28;
  --white-200: hsl(206, 5%, 90%);
  --white-300: hsl(206, 5%, 80%);
  --white-400: hsl(206, 5%, 65%);
  --white-500: hsl(206, 5%, 45%);
  --black-100: hsl(210, 21%, 12%);
  --black-200: hsl(210, 21%, 9%);
  --black-300: #fff;
  --black-400: hsl(210, 21%, 3%);
  --black-500: hsl(210, 21%, 1%);
  --night-100: hsl(217, 27%, 20%);
  --night-200: hsl(217, 27%, 16%);
  --night-300: hsl(217, 27%, 12%);
  --night-400: hsl(215, 27%, 8%);
  --night-500: hsl(215, 27%, 4%);
  --pink-100: hsl(326, 85%, 90%);
  --pink-200: hsl(327, 87%, 80%);
  --pink-300: hsl(329, 86%, 70%);
  --pink-400: hsl(330, 81%, 60%);
  --pink-500: hsl(206, 5%, 90%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --font-secondary: "Poppins", sans-serif;
  --font-primary: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: clamp(1rem, 0.97rem + 0.14vw, 1.09rem);
  font-weight: normal;
  line-height: 1.5;
  color: var(--black-300);
  background-color: var(--white-100);
}
body.darkmode {
  color: var(--white-100);
  background-color: var(--night-400);
}

main {
  overflow: hidden;
}

ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

a,
button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none !important;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
/* // Elements Section */
.section {
  margin: 0 auto;
  padding: 6rem 0 2rem;
}

.container {
  max-width: 75rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0.25rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.btn-primary {
  padding: 0.75rem 1.5rem;
  color: var(--white-100);
  background-color: var(--pink-500);
  box-shadow: var(--shadow-medium);
}
.btn-darken {
  padding: 0.75rem 1.5rem;
  color: var(--white-100);
  background-color: var(--night-300);
  box-shadow: var(--shadow-medium);
}

/* // Header Section */
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  background-color: var(--white-100);
  box-shadow: var(--shadow-medium);
}
.darkmode .header {
  background-color: var(--night-300);
}

.brand {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--pink-500);
  text-transform: uppercase;
  order: 1;
}
.darkmode .brand {
  color: var(--white-100);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  /* // Media Query Breakpoint */
}
.navbar-left {
  display: flex;
  align-items: center;
  flex: 0 0 17%;
}
.navbar-center {
  display: flex;
}
.navbar-right {
  display: flex;
  flex: 0 0 17%;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media only screen and (max-width: 992px) {
  .navbar-left, .navbar-right {
    flex: 0 0 auto;
  }
  .navbar-right {
    align-items: center;
  }
  .navbar-center {
    flex: 0 0 100%;
    order: 3;
    align-items: center;
  }
}

.menu {
  /* // Media Query Breakpoint */
}
@media only screen and (max-width: 992px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transform: translate(-100%);
    background-color: var(--white-100);
    transition: all 0.4s ease-in-out;
  }
  .menu.is-active {
    transform: translate(0%);
  }
  .darkmode .menu {
    background-color: var(--night-300);
  }
}

.menu {
  /* // Media Query Breakpoint */
  /* // Media Query Breakpoint */
}
.menu-header {
  display: none;
  box-shadow: var(--shadow-medium);
}
.menu-item {
  display: inline-block;
  line-height: 1.5;
  padding-right: 1.25rem;
}
.menu-link {
  font-family: var(--font-primary) !important;
  font-weight: 500;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--black-300);
  text-transform: capitalize;
  transition: all 0.25s ease;
}
.menu-link > i.bx {
  font-size: 1.35rem;
  margin-left: 0.25rem;
  transform: rotate(90deg);
}
.darkmode .menu-link {
  color: var(--white-100);
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  font-size: 1.45rem;
  color: var(--black-300);
  transition: all 0.25s ease;
}
.darkmode .menu-icon {
  color: var(--white-100);
}
@media only screen and (min-width: 993px) {
  .menu-dropdown:hover > .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .menu-header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }
  .menu-header.is-active {
    visibility: visible;
    background-color: var(--white-100);
  }
  .menu-header.is-active > .menu-arrow {
    display: block;
  }
  .darkmode .menu-header.is-active {
    background-color: var(--night-100);
  }
  .menu-arrow {
    display: none;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    text-align: center;
  }
  .menu-arrow > i.bx {
    font-size: 1.5rem;
    line-height: 4rem;
    color: var(--black-300);
    transition: all 0.25s ease;
  }
  .darkmode .menu-arrow > i.bx {
    color: var(--white-100);
  }
  .menu-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: capitalize;
    color: var(--black-300);
  }
  .darkmode .menu-title {
    color: var(--white-100);
  }
  .menu-inner {
    height: 100%;
    margin-top: -3rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu-item {
    display: block;
    line-height: 1;
    padding-inline: 0;
  }
  .menu-link {
    justify-content: space-between;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-inline: 1.25rem;
  }
  .menu-link > i.bx {
    margin-left: 0.5rem;
    transform: rotate(0deg);
  }
}

.submenu {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  border-top: 2px solid var(--white-200);
  background-color: var(--white-100);
  box-shadow: var(--shadow-medium);
  transition: all 0.25s ease-in-out;
  /* // Media Query Breakpoint */
}
.darkmode .submenu {
  border-top: 2px solid var(--white-100);
  background-color: var(--night-300);
}
.submenu-inner {
  flex: 0 0 25%;
  padding: 0 1rem;
}
.submenu-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 0;
  color: var(--pink-500);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.darkmode .submenu-title {
  color: var(--pink-300);
}
.submenu-item {
  display: block;
  line-height: 1;
  margin: 0 auto;
}
.submenu-link {
  display: inline-block;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  padding: 0.75rem 0;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--black-300);
  transition: all 0.25s ease-in-out;
}
.darkmode .submenu-link {
  color: var(--white-100);
}
.submenu-image {
  display: block;
  width: 100%;
  height: auto;
  margin-block: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    box-shadow: none;
    transform: translateX(0%);
  }
  .submenu.is-active {
    display: block;
  }
  .submenu-inner {
    flex: 0 0 100%;
    padding: 0rem;
  }
  .submenu-list {
    margin-bottom: 1rem;
  }
  .submenu-link {
    display: block;
  }
  .submenu-image {
    margin-top: 0;
  }
}

.megamenu {
  left: 50%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transform: translateX(-50%);
  /* // Media Query Breakpoint */
}
.megamenu-column-1 {
  left: 64%;
  max-width: 15rem;
  width: 100%;
  height: auto;
}
.megamenu-column-2 {
  left: 95%;
  max-width: 15rem;
  width: 100%;
  height: auto;
}
.megamenu-column-4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 62rem;
  height: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .megamenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
    box-shadow: none;
  }
}

.switch {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-right: 0.5rem;
}
.switch-light, .switch-dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
}
.switch-light {
  font-size: 1.3rem;
  visibility: visible;
  color: var(--black-300);
}
.darkmode .switch-light {
  font-size: 0rem;
  visibility: hidden;
}
.switch-dark {
  font-size: 0rem;
  visibility: hidden;
  color: var(--white-100);
}
.darkmode .switch-dark {
  font-size: 1.3rem;
  visibility: visible;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
  /* // Media Query Breakpoint */
}
@media only screen and (max-width: 992px) {
  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  width: 1.6rem;
  height: 1rem;
  margin-right: 1rem;
  opacity: 0;
  visibility: collapse;
  background: transparent;
  /* // Media Query Breakpoint */
}
@media only screen and (max-width: 992px) {
  .burger {
    opacity: 1;
    visibility: visible;
  }
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 1rem;
  background: var(--white-200);
}
.darkmode .burger-line {
  background: var(--white-100);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}

.cus-list .submenu-inner {
  flex: 0 0 50%;
}

.cus-list {
  width: 60%;
}

.cus-rest {
  display: none;
}

.cus-rest2 {
  display: block;
}

@media only screen and (max-width: 992px) {
  .cus-list {
    width: 100%;
  }
  .cus-rest2 {
    display: none;
  }
  .cus-rest {
    display: block;
  }
  .navbar-left {
    width: 100%;
    justify-content: space-between;
  }
}
.top-menu {
  padding: 5px 0;
  background-color: var(--pink-500);
  color: var(--night-300);
  /* position: fixed; */
  transition: all 0.1s ease-in-out;
}
.darkmode .top-menu {
  background-color: var(--night-300);
  color: var(--white-100);
  box-shadow: 0 1px 0 rgba(255, 0, 0, 0.3098039216);
  margin: 1px 0;
}

.header-two-links ul {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}

.header-two-links li {
  list-style-type: none;
  margin-right: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.header-two-links li i {
  color: var(--white-100);
}

.header-two-links li i {
  margin-right: 5px;
}

.header-two-social a:last-child {
  margin-right: 0;
}

.header-two-social {
  text-align: end;
}

.header-two-social span {
  margin-right: 20px;
}

.header-two-social a {
  margin-right: 20px;
  color: var(--white-100);
}

.section-header {
  text-align: center;
}

.section-header .sub-title {
  text-transform: uppercase;
  font-weight: 700;
}

.section-header .deco {
  margin: 5px auto 10px;
}

.section-header .desc {
  text-align: center;
  padding: 0 100px;
}

.title {
  font-size: 38px;
  font-family: var(--font-secondary);
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 600;
  text-shadow: 2px 2px var(--white-100);
  margin-bottom: 30px;
}

.sub-title {
  font-size: 30px;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--white-100);
}

.desc {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-family: var(--font-secondary);
}
.darkmode .desc {
  color: var(--white-200);
}

.banner {
  width: 100%;
  height: 580px;
  background: url(../image/banner-2.jpg) no-repeat center;
  background-size: cover;
}

.deco {
  width: 100px;
  height: 2px;
  background-color: var(--white-100);
  margin: 10px 0 20px;
}

.banner-gra {
  background-color: rgba(206, 27, 40, 0.8588235294);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner {
  color: var(--white-200);
}

.cus-btn {
  width: 170px;
  display: flex;
  justify-content: center;
  background-color: var(--white-200);
}

.btn1 {
  width: 150px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  color: var(--black-100);
  position: relative;
  overflow: hidden;
}

.btn1 i {
  color: var(--white-100);
  font-size: 30px;
  position: absolute;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn1 i:last-child {
  right: 0;
  transform: translateX(150%);
}

.btn1 i:first-child {
  left: 0;
  transform: translateX(0%);
}

.cus-btn:hover .btn1 i:last-child {
  transform: translateX(0%);
}

.cus-btn:hover .btn1 i:first-child {
  transform: translateX(-150%);
}

.btn2 {
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  box-sizing: border-box;
  background-color: var(--black);
  color: white;
  border: 1.5px solid transparent;
  font-size: 16px;
  text-decoration: none;
  padding: 0 32px;
  margin: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: 32px;
  transition: all 333ms ease;
}
.btn2 ButtonText,
.btn2 ButtonIcon {
  color: inherit;
  transition: all 33ms ease;
}
.btn2:enabled:hover {
  border-color: var(--black);
  background-color: transparent;
  color: var(--black);
}
.btn2:enabled:active {
  opacity: 0.5;
}
.btn2:disabled, .btn2[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.about {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.about .desc {
  text-align: justify;
}

.about-img {
  height: 100%;
  width: 100%;
  background: url(../image/about-us.png) no-repeat center;
  background-size: cover;
  position: relative;
}

.about-img i {
  font-size: 40px;
  background: var(--white-100);
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 43%;
  left: 39%;
  padding: 15px;
}

.about .sub-title {
  margin-bottom: 10px;
}

.services {
  width: 100%;
  padding: 50px 0;
  background-color: var(--white-200);
}
.darkmode .services {
  background-color: var(--night-300);
}

.wrapper {
  width: 100%;
  height: 400px;
  margin: auto;
  border-radius: 8px;
  background: #f0f0f0;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.service-nav {
  width: 100%;
  background: var(--white-100);
}
.darkmode .service-nav {
  background-color: var(--night-100);
  border-right: 1px solid var(--white-400);
}
@media (min-width: 769px) {
  .service-nav {
    float: left;
    width: 400px;
    height: 100%;
    border-radius: 0 0 0 8px;
  }
}
.service-nav ul {
  display: flex;
}
@media (min-width: 769px) {
  .service-nav ul {
    display: block;
  }
}
.service-nav li {
  line-height: 4;
  padding: 0 1rem;
  border-right: 1px solid #f0f0f0;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  list-style-type: none;
}
@media (min-width: 769px) {
  .service-nav li {
    border-bottom: 1px solid #f0f0f0;
    border-right: none;
  }
}
.service-nav li.hover {
  background: rgba(255, 255, 255, 0.2);
}
.service-nav li.pressed {
  background: rgba(255, 255, 255, 0.7);
}
.service-nav li.currentPage {
  background: rgba(255, 255, 255, 0.5);
}

.wrapper h1 {
  margin: 0;
}

#contents {
  box-sizing: border-box;
  position: absolute;
  height: calc(100% - 6rem);
  width: 100%;
  top: 65px;
  left: 0;
  border-radius: 0 0 8px 0;
  overflow: hidden;
  background: linear-gradient(135deg, #1c1a30 0%, #38335d 100%);
}
@media (min-width: 769px) {
  #contents {
    height: 100%;
    width: 717px;
    top: 0;
    left: 400px;
  }
}
.darkmode #contents {
  background-color: var(--night-100);
}
#contents .sub-title {
  font-size: 25px;
}
#contents .desc {
  font-size: 16px;
}

article {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px 2rem;
  box-sizing: border-box;
  background: white;
  color: red;
  top: 0;
  left: -100%;
}
.darkmode article {
  background-color: var(--night-100);
}
article.hide {
  transition: left 0s 0.5s;
}
article:nth-of-type(1) {
  z-index: 5;
}
article:nth-of-type(2) {
  z-index: 4;
}
article:nth-of-type(3) {
  z-index: 3;
}
article:nth-of-type(4) {
  z-index: 2;
}
article:nth-of-type(5) {
  z-index: 1;
}
article.show {
  transition: left 0.5s;
  left: 0;
  z-index: 6;
}
article section {
  width: 100%;
  color: var(--black-400);
}
article section h1 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.testimonail {
  width: 100%;
  height: auto;
  background: url(../image/testimononial.jpg);
  margin: 50px 0;
  position: relative;
}

.testimonail .con-header {
  text-align: left;
  color: white;
}

.testimonail .con-header span {
  color: white;
}

.testimonial-item {
  background-color: white;
  border-radius: 20px;
  margin: 20px 0;
  overflow: hidden;
  margin: 0 10px;
}
.darkmode .testimonial-item {
  background-color: var(--night-200);
  color: var(--white-200);
}

.testi-author {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 40px;
  background: #eff1f5;
}
.darkmode .testi-author {
  background-color: var(--night-300);
  color: var(--white-200);
  border-top: 1px solid #fff;
}

.testi-a-txt {
  padding-left: 20px;
}

.testi-a-txt p {
  margin: 0;
}

.testi-a-txt p {
  color: #000;
  font-weight: 600;
  font-size: 24px;
}
.darkmode .testi-a-txt p {
  color: var(--white-200);
}

.testi-a-img {
  width: 70px;
}

.testi-txt {
  padding: 30px 40px;
}

.testimonial-slide {
  margin: 40px 0 !important;
}

.testimonail .slick-slider-dots2 {
  position: absolute;
  right: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  display: flex;
}
.testimonail .slick-slider-dots2 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.testimonail .slick-slider-dots2 ul li {
  margin: 0 1px;
}
.testimonail .slick-slider-dots2 ul li button {
  background: rgb(255, 255, 255);
  border: 1px solid var(--white-200);
  height: 5px;
  width: 50px;
  overflow: hidden;
  color: var(--white-100) !important;
  border-radius: 10px;
}
.testimonail .slick-slider-dots2 ul li.slick-active button {
  background: var(--white-100);
  color: rgb(255, 0, 212);
}

.testimonail .slick-dots li.slick-active button::before,
.testimonail .slick-dots li button::before {
  color: transparent !important;
}

.testimonail .slick-slider-dots2 ul li {
  margin: 0 20px !important;
}

.testimonail .slick-slider-dots2 ul {
  justify-content: center;
}

.tes-gra {
  background-color: #ce1b28;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.darkmode .tes-gra {
  background-color: var(--night-100);
}

.blogs {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.blog-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blog-item img {
  transition: all 0.4s ease-in-out;
}

.blog-txt {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7725490196);
  color: white;
  position: absolute;
  top: 0;
}
.blog-txt .subtitle {
  margin: 20px 0;
  font-size: 20px;
  font-family: var(--font-primary);
}
.blog-txt a {
  color: white;
  display: flex;
  align-items: center;
}
.blog-txt .ath i {
  margin-right: 5px;
}
.blog-txt .ath li {
  margin-right: 10px !important;
}
.blog-txt span {
  background-color: var(--white-100);
  font-size: 30px;
  font-weight: 600;
  width: 90px;
  text-align: center;
  display: inline-block;
}
.blog-txt-inn {
  position: relative;
  height: 100%;
}

.blog-inn-1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

.blog-inn-2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.subtitle a {
  transition: all 0.4s ease-in-out;
}

.blog-item:hover .subtitle a {
  color: var(--white-100);
}
.blog-item:hover img {
  transform: scale(1.1);
}

.contact {
  width: 100%;
  height: auto;
}
.contact > .container {
  padding: 70px 0;
  position: relative;
}
.contact .contact-img {
  position: absolute;
  top: 0;
  left: 0;
}
.contact .contact-form {
  position: sticky;
  width: 50%;
  margin-left: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(1, 116, 187, 0.631372549);
}
.darkmode .contact .contact-form {
  background-color: var(--night-100);
}
.contact .contact-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d0d0d0;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}
.darkmode .contact .contact-form form input {
  background-color: var(--night-100);
}
.darkmode .contact .contact-form form input::-moz-placeholder {
  color: white;
}
.darkmode .contact .contact-form form input::placeholder {
  color: white;
}
.contact .contact-form form input:focus {
  outline: none;
  border: 1px solid var(--white-100);
}
.contact .contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}
.darkmode .contact .contact-form form textarea {
  background-color: var(--night-100);
}
.contact .contact-form form textarea:focus {
  outline: none;
  border: 1px solid var(--white-100);
}
.darkmode .contact .contact-form form textarea::-moz-placeholder {
  color: white;
}
.darkmode .contact .contact-form form textarea::placeholder {
  color: white;
}
.contact .contact-form button {
  background-color: var(--white-100);
  width: 100%;
  padding: 10px 0;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}
.contact .contact-form .sub-title {
  margin-bottom: 0px;
  font-size: 18px;
}
.contact .contact-form .title {
  font-size: 35px;
  text-shadow: none;
  font-family: var(--font-secondary);
}

.footer {
  padding-top: 50px;
  border-top: 1px solid var(--white-400);
}

.footer .container-fluid {
  padding: 0 62px !important;
}

.footer-item ul {
  padding: 0;
  display: inline-block;
}

.footer-item li {
  list-style-type: none;
}

.footer-item li a {
  text-decoration: none;
  color: #8a99b4;
  line-height: 2.2;
}

.footer-item ul li:hover a {
  color: var(--white-100);
  letter-spacing: 0.8px;
}

#cursor-follower.hovered {
  background-color: #0174bb !important;
  border: none;
  opacity: 0.2;
  padding: 30px;
}

a {
  transition: all 0.4s ease-in-out;
}

.footer-item h5 {
  color: var(--night-100);
  display: table;
}
.darkmode .footer-item h5 {
  color: var(--white-200);
}

.footer-item p {
  color: #8a99b4;
  line-height: 2.2;
}

.cus-foo-item hr {
  color: #8a99b4;
  margin: 5px 0;
}
.darkmode .cus-foo-item hr {
  color: var(--white-200);
}

.cus-foo-item p {
  margin-bottom: 0;
}

.cus-foo-item i {
  margin-right: 10px;
}

.cus-foo-item {
  border: none !important;
}

.footer-item .social-links {
  margin-top: 40px;
}

.footer-item .social-links i {
  color: white;
  background-color: var(--white-100);
  padding: 12px;
  margin: 0 10px 0 0;
  border-radius: 50%;
}

.nav-active {
  background-color: #fff !important;
  box-shadow: 5px -1px 12px -5px grey;
}

.top-menu > .container {
  transition: all 0.25s ease-in;
}

.max-width-1250 {
  max-width: 1250px !important;
}

.nav-active-pad {
  padding: 0 15px !important;
}

/* .footer-item ul li{
    border-bottom: 1px solid #8a99b4;
  } */
.footer-item ul li i {
  color: #0174bb;
  margin: 5px;
}

.footer-item {
  display: flex;
  justify-content: center;
}

.footer-item-inn {
  /* border-right: 1px double #8a99b4; */
  height: 100%;
  width: 80%;
}

.footer-b {
  background-color: var(--white-100);
  color: white;
  padding: 10px 0;
}

@media (min-width: 768px) and (max-width: 992px) {
  .header-two-social {
    text-align: center;
    margin: 10px 0;
  }
  .header-two-links ul {
    justify-content: space-between;
  }
  .header-two-links li {
    margin: 0;
    padding: 0;
  }
  .about .row > .col-md-12:first-child {
    order: 2;
  }
  .about .row > .col-md-12:last-child {
    order: 1;
  }
  .about .about-img {
    display: none;
  }
  .testimonail .con-header {
    text-align: center;
  }
  .blogs .col-md-6 {
    margin-bottom: 10px;
  }
  .footer-item {
    justify-content: left;
  }
  .footer .row div {
    margin-bottom: 10px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .container {
    max-width: 680px;
  }
  .top-menu {
    display: none;
  }
  .about .about-img {
    display: none;
  }
  .section-header .desc {
    padding: 0;
    font-size: 16px;
  }
  article {
    overflow: scroll;
  }
  .blogs .col-sm-12 {
    margin-bottom: 10px;
  }
  .contact .contact-form {
    width: 100%;
    margin-left: 0;
  }
  .footer-item {
    justify-content: left;
  }
  .footer .row div {
    margin-bottom: 10px;
  }
  .blog-txt .subtitle {
    font-size: 45px;
  }
  .blog-txt a {
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .top-menu {
    display: none;
  }
  .about .about-img {
    display: none;
  }
  .about .desc {
    text-align: left;
  }
  .section-header .desc {
    padding: 0;
    font-size: 16px;
  }
  article {
    overflow: scroll;
  }
  .blogs .col-sm-12 {
    margin-bottom: 10px;
  }
  .contact .contact-form {
    width: 100%;
    margin-left: 0;
  }
  .footer-item {
    justify-content: left;
  }
  .footer .row div {
    margin-bottom: 10px;
  }
  .blog-txt .subtitle {
    font-size: 45px;
  }
  .blog-txt a {
    font-size: 25px;
  }
  .title {
    font-size: 22px;
  }
  .desc {
    font-size: 16px;
  }
  .service-nav ul {
    overflow: scroll;
  }
  .footer-item-inn {
    width: 100%;
  }
}/*# sourceMappingURL=main-css.css.map */